<table>
    <thead>
        <tr>
            <th>Poslední přihlášení</th>
            <th>ID</th>
            <th>Avatar</th>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Email</th>
            <th>Zamčen</th>
            <th>Akce</th>
    </thead>
    <tbody>
        <repeat group="{{@users}}" value="{{@user}}">
            <tr>
                <td>{{ @datum, strtotime(@user.lastlogin) | format }} {{ @cas, strtotime(@user.lastlogin) | format }}
                </td>
                <td>{{@user.id}}</td>
                <td><img src="{{@user.avatar}}" alt="avatar" width="35" height="35"></td>
                <td>{{@user.jmeno}}</td>
                <td>{{@user.prijmeni}}</td>
                <td>{{@user.email}}</td>
                <td class="lock" data-id="{{@user.id}}">{{@user.locked==0?'<i class="bi bi-unlock"></i>':'<i class="bi bi-lock text-danger"></i>'}} </td>
                <td>
                    <a href="/zpravy/user/upravit/">Upravit</a>
                    <a href="/zpravy/user/smazat/">Smazat</a>
                </td>
            </tr>
        </repeat>
    </tbody>
</table>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.lock').forEach(item => {
            item.addEventListener('click', event => {
                let uid = item.getAttribute('data-id');
                let icon = item.querySelector('i');
                fetch('/zpravy/user/zamknout', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            id: uid
                        }),
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.locked == 0) {
                            icon.classList.remove('bi-lock');
                            icon.classList.add('bi-unlock');
                            icon.classList.remove('text-danger');
                            icon.classList.add('text-success');
                        } else if (data.locked == 1) {
                            icon.classList.add('bi-lock');
                            icon.classList.remove('bi-unlock');
                            icon.classList.add('text-danger');
                            icon.classList.remove('text-success');
                        } else {
                            console.error('Chyba při zpracování dat');
                        }
                    })
                    .catch((error) => {
                        console.error('Chybicka:', error);
                    });
            });
        })
    });
</script>