<form method="post">
    <label for="nick">Přezdívka:</label>
    <input type="text" class="form-control" name="nick" id="nick" required>
    <br>
    <label for="jmeno">Jméno:</label>
    <input type="text" class="form-control" name="jmeno" id="jmeno" required>
    <br>
    <label for="prijmeni">Příjmení:</label>
    <input type="text" class="form-control" name="prijmeni" id="prijmeni" required>
    <br>
    <label for="email">E-mail:</label>
    <input type="email" class="form-control" name="email" id="email" required>
    <br>
    <label for="heslo">Heslo:</label>
    <input type="password" class="form-control" name="heslo" id="heslo" required>
    <br>
    <input type="submit" class="btn btn-primary" value="Registrovat">
</form>