<div class="container mt-5">
    <h1 class="mb-4">Půjčovna tabletů</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID učitele</th>
                <th>Třídy</th>
                <th>Vypůjčeno na</th>
                <th>Vrátit po</th>
                <th>Poznámka</th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @pujcovna }}" value="{{ @pujcovna }}">
                <tr>
                    <td>{{ @pujcovna.jmeno }}</td>
                    <td>
                        <check if="{{ @pujcovna.tridy != '' }}">
                            <repeat group="{{ json_decode(@pujcovna.tridy, true) }}" value="{{ @trida }}">
                                {{ @trida }}<check if="{{ @trida != end(json_decode(@pujcovna.tridy, true)) }}">, </check>
                            </repeat>
                        </check>
                        <check if="{{ @pujcovna.tridy == '' }}">
                            Žádné třídy
                        </check>
                    </td>
                    <td>{{ @pujcovna.vypujceni }}. hodinu</td>
                    <td>{{ @pujcovna.vraceni }}. hodině</td>
                    <td>{{ @pujcovna.poznamka }}</td>
                </tr>
            </repeat>
        </tbody>
    </table>
</div>