<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/recenze">Recenzování</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-info" href="/recenze">Recenze</a>
                </li>
            </ul>
            <check if="{{ isset(@SESSION.prihlasen) }}">
                <true>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/recenze/odhlasit-uzivatele">Odhlášení</a>
                        </li>
                    </ul>
                </true>
                <false>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/recenze/prihlasit-uzivatele">Přihlášení</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/recenze/vytvorit-uzivatele">Registrace</a>
                        </li>
                    </ul>
                </false>
            </check>
            
            <check if="{{ isset(@SESSION.admin) }}">
                <true>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user-cog"></i> Instalace
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="/recenze/install-vse"><i class="fas fa-users-cog"></i> Resetovat všechno</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/recenze/install-uzivatele"><i class="fas fa-user-times"></i> Resetovat uživatele</a></li>
                                <li><a class="dropdown-item" href="/recenze/install-recenze"><i class="fas fa-envelope-open-text"></i> Resetovat recenze</a></li>
                                <li><a class="dropdown-item" href="/recenze/install-produkty"><i class="fas fa-file-upload"></i> Resetovat produkty</a></li>
                            </ul>
                        </li>
                    </ul>
                </true>
                <false>
                </false>
            </check>
            <check if="{{ isset(@SESSION.admin) }}">
                <true>
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/recenze/vytvorit-produkt">Vytvořit produkt</a>
                        </li>
                    </ul>
                </true>
                <false>
                </false>
            </check>
        </div>
    </div>
</nav>