<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/zpravy">Správa zpráv</a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <check if="{{ isset(@SESSION.role) && @SESSION.role == 'admin' }}">
                <true>
                    <ul class="navbar-nav me-left mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-danger" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administrátor
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/zpravy/admin/manage/users">Správa uživatelů</a></li>
                                <li><a class="dropdown-item" href="/zpravy/admin/manage/roles">Správa rolí</a></li>
                                <li><a class="dropdown-item" href="/zpravy/admin/manage/surveys">Správa anket</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/zpravy/install/uzivatele">Resetovat uživatele</a></li>
                                <li><a class="dropdown-item" href="/zpravy/install/zpravy">Resetovat zprávy</a></li>
                                <li><a class="dropdown-item" href="/zpravy/install/soubory">Resetovat soubory</a></li>
                                <li><a class="dropdown-item" href="/zpravy/install/prihlaseni">Resetovat přihlášení</a></li>
                                <li><a class="dropdown-item" href="/zpravy/install/role">Resetovat role</a></li>
                                <li><a class="dropdown-item" href="/zpravy/install/ankety">Resetovat ankety</a></li>
                                <li><a class="dropdown-item" href="/zpravy/install/ankety/vysledky">Resetovat výsledky anket</a></li>
                            </ul>
                        </li>
                    </ul>

                </true>
                <false>
                    <!-- User is not logged in -->
                </false>
            </check>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <!--        POKUD JE UZIVATEL PRIHLASEN / NEPRIHLASEN -->
                <check if="{{ isset(@SESSION.jmeno) && @SESSION.jmeno != '' }}">
                    <true>
                        <!-- User is logged in -->
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/zpravy/user/surveys/results">Výsledky anket</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/zpravy/user/surveys">Ankety</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Soubory
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/zpravy/file/upload/">Nahrát</a></li>
                                <!-- <li><a class="dropdown-item" href="/zpravy/files/">Zobrazit</a></li> -->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Zprávy
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/zpravy/message/add">Poslat</a></li>
                                <li><a class="dropdown-item" href="/zpravy/message/list">Zobrazit</a></li>
                            </ul>
                        </li>
                    </true>
                    <false>
                        <!-- User is not logged in -->
                    </false>
                </check>

                <!--        POKUD JE UZIVATEL PRIHLASEN / NEPRIHLASEN -->
                <check if="{{ isset(@SESSION.jmeno) && @SESSION.jmeno != '' }}">
                    <true>
                        <!-- User is logged in -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Uživatelé
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/zpravy/user/list">Zobrazit</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <!-- <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ @SESSION.nick }}
                            </a> -->
                            <a href="#" class="nav-link dropdown-toggle text-white d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                                <check if="{{ !isset(@SESSION.avatar)}}">
                                    <true>
                                        <div class="avatar">
                                            <img src="/zpravy/assets/avatars/zakladni-avatar.png" alt="avatar" class="rounded-circle" width="32" height="32">
                                        </div>
                                    </true>
                                    <false>
                                        <img src="{{@SESSION.avatar}}" alt="avatar" class="rounded-circle" width="32" height="32">
                                    </false>
                                </check>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/zpravy/user/profile">Profil</a></li>
                                <li><a class="dropdown-item" href="/zpravy/user/avatar">Avatar</a></li>
                                <li><a class="dropdown-item" href="/zpravy/user/logout">Odhlásit</a></li>
                            </ul>
                        </li>
                    </true>
                    <false>
                        <!-- User is not logged in -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Přihlášení
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/zpravy/user/login">Přihlásit</a></li>
                                <li><a class="dropdown-item" href="/zpravy/user/add">Registrovat</a></li>
                            </ul>
                        </li>
                    </false>
                </check>
            </ul>
        </div>
    </div>
</nav>