<div class="container mt-5 d-flex justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">Vytvořit uživatele</h2>
        <form method="post">
            <div class="form-group mt-3">
                <label for="username">Přezdívka</label>
                <input type="text" class="form-control mt-2" id="username" placeholder="Zadejte přezdívku uživatele">
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary mt-3">Odeslat</button>
            </div>
        </form>
    </div>
</div>