<div class="container p-4 mt-5">
    <div class="text-center mb-4">
        <div class="d-flex align-items-center">
            <div class="me-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAqxEm3TKpcS5BEyg2lLAE8UFln1KS7JXvHbV8nw38J0lfbuwxC9n_iKrr2e7Jg0T-Re0&usqp=CAU" alt="Logo" style="max-width: 100px; height: auto;">
            </div>
            <div class="text-start">
                <h6 class="fw-bold">Vyšší odborná škola a Střední průmyslová škola</h6>
                <h6 class="fw-bold">strojní, stavební a dopravní, Děčín, příspěvková organizace</h6>
                <p style="font-size: 0.84em;">Čsl. armády 681/10, Děčín, 405 02 Děčín,  www.prumkadc.cz</p>
                <hr style="border-top: 2px solid #000;">
            </div>
        </div>
    </div>

    <h3 class="text-center mb-4">POTVRZENÍ O STUDIU</h3>
    <div class="mb-3">
        <strong>Jméno a příjmení:</strong> <span class="placeholder">___________________________________________</span>
    </div>
    <div class="mb-3">
        <strong>Datum narození:</strong> <span class="placeholder">____________________________________________</span>
    </div>
    <div class="mb-3">
        <strong>Adresa:</strong> <span class="placeholder">___________________________________________________</span>
    </div>
    <div class="mb-3">
        <strong>Navštěvuje ve školním roce </strong> <span class="placeholder">______________________</span> <strong>třídu </strong><span class="placeholder">_______</span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="text-center ms-auto">
            <img src="/potvrzeni-o-studiu-pisemka/assets/podpis.png" alt="podpis" width="86" height="86">
            <p>Razítko a podpis</p>
        </div>
    </div>
    <div>
        <strong>V Děčíně:</strong> <span class="placeholder">______________</span>
    </div>
</div>
<style>
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

hr {
    margin: 1;
    padding: 0;
}

.container {
    max-width: 650px;
}

h5, h6, p {
    margin: 0;
}

.placeholder {
    display: inline-block;
    border-bottom: 1px #000;
    cursor: text;
    background-color: #f8f9fa;
}
</style>