<form method="post">
    <label for="jmeno" class="form-label">Jméno:</label>
    <input type="text" class="form-control" name="jmeno" id="jmeno">
    <br>
    <label for="prijmeni" class="form-label">Příjmení:</label>
    <input type="text" class="form-control" name="prijmeni" id="prijmeni">
    <br>
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" name="email" id="email">
    <br>
    <label for="heslo" class="form-label">Heslo:</label>
    <input type="password" class="form-control" name="heslo" id="heslo">
    <br>
    <!-- <input type="submit" class="form-input" value="Přidat"> -->
    <input type="submit" class="btn btn-primary" value="Přidat">
</form>