<div class="container mt-5">
    <h2 class="mb-4">Vytvořit obchod</h2>
    <form class="login-form" method="post">
        <label for="typ" class="form-label">Typ</label>
        <select class="form-control" name="typ" id="typ">
            <option value="Fyzický">Fyzický</option>
            <option value="Internetový">Internetový</option>
        </select>
        <br>
        <label for="kategorie" class="form-label">Kategorie</label>
        <select class="form-control" name="kategorie" id="kategorie">
            <option value="Elektronika">Elektronika</option>
            <option value="Oblečení">Oblečení</option>
            <option value="Potraviny">Potraviny</option>
            <option value="Sport">Sport</option>
            <option value="Nábytek">Nábytek</option>
            <option value="Drogérie">Drogérie</option>
            <option value="Hračky">Hračky</option>
            <option value="Zahrada">Zahrada</option>
            <option value="Auto-moto">Auto-moto</option>
            <option value="Stavebniny">Stavebniny</option>
        </select>
        <br>
        <input type="submit" class="btn btn-primary" value="Vytvořit">
    </form>
</div>