<div class="container mt-5 text-center">
    <div class="d-flex justify-content-center text-center mb-3">
        <h1>Seznam aktivních rezervací tabletů</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Učitel</th>
                <th>Pro třídy</th>
                <th>Vypůjčeno</th>
                <th>Poznámka</th>
            </tr>
        </thead>
        <tbody>
            <repeat group="{{ @pujcovna }}" value="{{ @pujcovna }}">
                <tr>
                    <td>{{ @pujcovna.jmeno }}</td>
                    <td>
                        <check if="{{ @pujcovna.tridy != '' }}">
                            <repeat group="{{ json_decode(@pujcovna.tridy, true) }}" value="{{ @trida }}">
                                {{ @trida }}<check if="{{ @trida != end(json_decode(@pujcovna.tridy, true)) }}">, </check>
                            </repeat>
                        </check>
                        <check if="{{ @pujcovna.tridy == '' }}">
                            Žádné třídy
                        </check>
                    </td>
                    <td>
                        <check if="{{ @pujcovna.denvypujceni == 'Pondělí' || @pujcovna.denvypujceni == 'Úterý' || @pujcovna.denvypujceni == 'Pátek' }}">
                            v {{ @pujcovna.denvypujceni }}
                        </check>
                        <check if="{{ @pujcovna.denvypujceni == 'Středa' || @pujcovna.denvypujceni == 'Čtvrtek' }}">
                            ve {{ @pujcovna.denvypujceni }}
                        </check>
                        od <u>{{ @pujcovna.vypujceni }}</u> do <u>{{ @pujcovna.vraceni }}</u>
                    </td>
                    <td>
                        <check if="{{ @pujcovna.poznamka == '' }}">
                            Žádná poznámka
                        </check></td>
                </tr>
            </repeat>
        </tbody>
    </table>
</div>