* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    background: white;
    padding: 20px;
    /* stín */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.291);
    /* zaoblené konce */
    border-radius: 20px;
}

header {
    text-align: center;
    padding-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
    color: #05479d;
    font-weight: 700;
}

.uvitani {
    text-align: center;
    margin-bottom: 30px;
    /* *** https://www.wix.com/studio/blog/font-size *** */
    font-size: 1.25rem;
}


/* slouzi jako obal pro karty */

.container-pro-karty {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}

.karta {
    background: #f5f5f5;
    border-radius: 8px;
    /* stin pro karty */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    padding: 20px;
    /* 3 karty v radku */
    width: calc(33.333% - 20px);
}

.karta h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #05479d;
}

.karta a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    /* display: block dela z odkazu blok, aby se dal nastavit padding */
    display: block;
    margin-top: 10px;
}

.karta a:hover {
    color: #007bff;
    cursor: pointer;
}


/* na mensich obrazovkach zobrazit karty pod sebou */

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
        /* pro 2 karty v radku na male obrazovce */
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 20px);
        /* pro 1 kartu v radku na velmi male obrazovce */
    }
}

footer {
    text-align: center;
    /* margin-top pouzit misto padding-top, aby se neposunul obsah dolu */
    margin-top: 40px;
    font-size: 0.9rem;
    color: #1f1f1f;
}

footer p {
    margin-bottom: 5px;
}

.helpdesk {
    text-decoration: underline dotted;
    color: #000c3c;
}


/*
.dark-mode {
    background: #2d2d2d;
    color: white;
}

.karta .dark-mode {
    background: #2d2d2d;
    color: white;
} */